* {
  box-sizing: border-box;
}

body {
  background-color: #2DDBDC;
  margin:0;
  font-family: 'Segoe UI', Helvetica Neue, Helvetica, Lucida Grande, Arial;
}

.appWindow {
  display:flex;
  height:100vh;
  background-color: #EDEDED;
}

.sideBar {
  width: 35%;
  max-width:415px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #DDD;
}

header {
  height:60px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding:0 15px;
}

.headerAvatar {
  width:40px;
  height:40px;
  border-radius:20px;
  cursor:pointer
}

.headerButtons {
  display:flex;
}

.headerBtn {
  width:40px;
  height:40px;
  border-radius:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.contentArea {

}